/*Global Style */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(244, 244,244);
}

a {
    color: rgb(100, 0, 255);
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: rgb(0,0,0);
}

section {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
}

nav {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

nav li {
    display: inline;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 20px;
}

nav a {
    color: rgb(100, 0, 255);
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    border: 2px dotted black;
    border-radius: 10px;
}

nav a:hover {
    color: rgb(0, 0, 0);
    font-weight: 700;
    background-color: rgb(255,100,200);

}

footer {
    width: 1000px;
    border-radius: 10px;
    height: 50px;
    color: rgb(250, 250, 250);
    background-color: rgba(0,0,0, 0.5);
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    position: sticky;
    bottom: 5px;
}

/* End Header and Nav Styling*/

/*Main Content Styling*/

.container { 
    width: 1000px;
    margin: 0 auto;
}

.intro {
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}

.intro p {
    text-align: justify;
}

.intro h1 {
    text-align: center; 
    font-size: 30px;
    color:rgb(100, 0, 255);
}
.intro ul {
    position: relative;
    top: 10px;
    left: 325px;
    text-align: left;
}

.intro li {
    list-style-position: inside;
}

/*Right Sidebar Styling*/
.rightBar {
    width: 300px;
    height: 500px;
    margin-right: -280px;
    background-color: rgb(250, 245, 250);
    border-radius: 10px;
    padding: 10px;
    float: right;
}

.rightBar ul {
    padding-bottom: 10px;
}
.rightBar li {
    list-style: none;
    padding: 3px;
    text-align: left;
}

.rightBar h2 {
    margin-top: 10px;
    color:rgb(100, 100, 100);
}

.rightBar p {
    text-align: justify;
}

.rightBar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.rightBar h3 {
    text-align: left;
    color: rgb(100, 100, 100);
    padding-bottom: 5px;
}
/*End Right Bar Styling*/

/* Table Styling */
table {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

th, tr, td {
    border: 1px dotted black;
    border-radius: 5px;
    padding: 5px;
}

thead {
    background-color: rgb(100, 0, 255);
}

td{
    background-color: rgb(200, 200, 255);
    list-style-position: inside;
}

th {
    background-color: rgb(91, 7, 217);
    color: white;
}

.code_table {
    margin-top: 50px;
    width: 800px;
}

.codeName {
    text-align: center;
    vertical-align: text-top;
}

.codeDescription {
    vertical-align: top;
    text-align: left;
}

.langTableHead {
    color: white;
    background-color: rgb(91, 7, 217);
    font-size: 20px;
}

#CSS {
    margin: 20px 0;
}
/*End table styling */


/*Specific Footer Styling*/
#email a {
    color: rgb(255, 255, 255);
}

#email a:hover { 
    color: rgb(0, 0, 0);
}