/* Global Style Resets */

body,
html {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
    background-color: rgba(230, 230, 230, 1);
    -webkit-backgrond-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* "Alumni Sans" for additional styling */
}

p {
    font-size: 20px;
}

h1, h2 {
    font-family: "Patua One", Arial, sans-serif;
    font-size: 30px;
}

/* ***BEGIN LAYOUT STYLING*** */

/* NAV BAR */

.navbar { 
    margin: 10px 10px;
    border-radius: 5px;
}

/* HEADER */
header { 
    background: url(assets/code.jpg);
    border-radius: 2px;
    background-color: rgba(255, 255, 100, 0.5);
    padding-bottom: 5vh;
    margin-bottom: 10px;
    
}

.temp {


}

.headline {
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    color: white;
    margin-top: 10vh;
    /* padding: 10px; */
}

/* WEBSITE CONTENT */
 ul li {
    list-style-type: none;
 }

 #bassett_nyc {
    border-radius: 50%;
    padding-bottom: 10px;
 }

 .known {
    font-weight: 800;
    color: red;
 }


 /* Hobbies Section */
.hobbies {
    background-color: #ffaA22;  
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 5px;
    align-items: center;
}

.hobbies-description {
}

.card-text {
    font-size: 18px;
}

.card-title {
    font-family: "Patua One", Arial, sans-serif;
    font-size: 26px;
    text-shadow: 3px 4px .25em rgb(0, 78, 137);
}

.card-img-top {
    height: 25rem;
    object-fit: cover;
}

 /* FOOTER */
 .alert-dark {
    background-color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    text-align: center;
    position: sticky;
    bottom: 5px; 
 }