<!DOCTYPE html>
<head>
    <title>Layout Practice</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="layout.css" >
</head>
<body>
    <header>
    <h1>Layout and Position Practice</h1>
    <p>The following page will be to practing layout options and learning new CSS to learn position of the layout.</p>
    </header>
    <div class="banner">
        <h2>Welcome to Smuggler's Beach!</h2>
        <p>The pictured beach is known as Smuggler's Beach in Yarmouth Port. It has some of the warmest waters
        for a beach in Massachusetts.</p>
    </div>
    <div class="container">
        <div class="mainContent">
            <h3>Smuggler's Beach Information</h3><br>
            <p>Smuggler's Beach is located in the historic town of Yarmouth, Massachusetts. The webmaster believes it is the warmest beach
                in the state of Massachusetts. I mean, it really could be...but we don't really know for sure.</p><br>
            <h3>Media</h3>
            <a href="images/smugglers_clouds.JPEG"><img src="images/smugglers_clouds.JPEG" alt="A beautiful shot of Smuggler's Beach in July 2022" /></a>
            <img src="images/smugglers_clouds.JPEG" alt="A beautiful shot of Smuggler's Beach in July 2022" />
            <img src="images/smugglers_clouds.JPEG" alt="A beautiful shot of Smuggler's Beach in July 2022" />
            <img src="images/smugglers_clouds.JPEG" alt="A beautiful shot of Smuggler's Beach in July 2022" />      
        </div>

        <div class="leftBar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Information</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Store</a></li>
                <li><a href="#">Contact</a></li>
            </ul><br>
            <hr><br>
            <p>This website is property of the Smuggler's Beach and cannot be replicated without proper authorization.</p>
        </div>
        <footer>
            This page was created by Jason Bassett. <br>All rights reserved.
        </footer>
    </div>
</body>
</html>