/*Global Style*/
* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 20px;
    width: 1080px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    margin-left: 5px;
}

hr {
    width: 1050px;
}

p {
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400px;
}


/*Color Tables and Embedded Styling*/

#color-table {
    width: 1050px;
    border: 2px solid #3300aa;
    margin-top: 10px;
}


.colors p {
    padding: 15px 0 5px 20px;
    font-size: 14px;
    clear: left;
}

#color-table h2 {
    margin: 10px 0 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

#color-table h3 {
    margin: 10px 0 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

#pugent_purple {
    width: 300px;
    height: 50px;
    background-color: #6644FF;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 10px 20px;
    font-family: "Franklin Gothic Light", sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: 3px solid black;
}

#pretty_pink {
    width: 300px;
    height: 50px;
    background-color: #FF00A0;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-right: 375px;
    margin-top: -126px;
    font-family: "Franklin Gothic Light", sans-serif;
    font-size: 16px;
    font-weight: 400;
    float: right;
    border: 3px solid black;
}

#basic_white {
    width: 300px;
    height: 50px;
    background-color: #F0F0FF;
    text-align: center;
    font-family: "Franklin Gothic Light", sans-serif;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 720px;
    margin-top: -126px;
    border: 3px solid black;
}

/*Font Table Styles*/

.font-panel {
    width: 25%;
    margin: 10px 0;
    display: inline-block;
}

#fgmNormal {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    margin-bottom: -15px;
}

#fgmEmphasis {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    margin-bottom: -15px;
}

#fgmColor {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: #FF00A0;

}

#fglNormal {
    font-size: 12px;
    margin-bottom: -15px;
}

#fglEmphasis {
    font-size: 12px;
    font-style: italic;
    margin-bottom: -15px;
}

#fglColor {
    font-size: 12px;
    color: #FF00A0;
    font-weight: 700;

}

#font-table {
    width: 1050px;
    border: 2px solid #3300aa;
    margin-top: 10px;
}

#font-table h2 {
    margin: 10px 0 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

#font-table h3 {
    margin: 10px 0 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

#text-table {
    width: 1050px;
    border: 2px solid #3300aa;
    margin-top: 10px;
}

#text-table h2 {
    margin: 10px 0 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

#text-table h3 {
    margin: 10px 0 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

.style-panel {
    width: 45%;
    display: inline-block;
    margin: 10px 0;
}

.style-UI-List {
    list-style-position: inside;
    margin: 0 0 0 10px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

.style-UI-List li {
    padding: 2px 5px;
}

#text-table h1 {
    margin-left: 20px;
}